
<h1></h1>
 
    <div class="margin">
        <div class="padding">
    <form>
    <div class="form-group">
        <label >Username</label>
    <div>
        <input [(ngModel)] ="login.username" placeholder="username" name="username"><br>
     </div>
     </div>
     <div class="form-group">
        <label >Password</label>
    <div>
        <input [(ngModel)] ="login.password" placeholder="password" type="password" name="username"><br>
     </div>
     </div>
        
        

     <button class="btn btn-sm" (click)="LoginUser()">Login</button>
 </form>
</div>
</div>

